body{
    background: #EFEFF2;
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
}


.container{
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}
.header{
    display: flex;
    padding: 36px 0 0;
    /*justify-content: space-between;*/
}

.footer{
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
    flex-direction: row;
}

.footer__box{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}


.header__box{
    display: flex;
    align-items: center;
    gap: 68px;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.link{
    color: #19191C;
    text-decoration: none;
}

.btn-box{
    display: flex;
    gap: 48px;
    align-items: center;
}

.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
}
.header__link{
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
}
.header__btn{
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.offer{
    display: flex;
    justify-content: space-between;
}
.offer__holder{
    width: 648px;
}
.offer__title{
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
}
.first__row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.logo__footer{
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    margin-top: 59px;
    align-items: center;
    gap: 280px;
    color: #FBFBFC;
    text-decoration: none;
}
.footer__box{
    display: flex;
    align-items: center;
    flex-direction: column;
    /*gap: 10px;*/
    /*justify-content: flex-start;*/
}
.sitemap{
    display: flex;
    gap: 200px;
    align-items: center;
}
.footer__main{
    display: flex;
    justify-content: space-between;
    /*flex-direction: row;*/
    margin: 0;
}
.footer{
    display: flex;
    padding: 36px 0 0;
    justify-content: space-around;;
    background: #19191C;
    width: 1920px;
    height: 536px;
    flex-wrap: nowrap;
    align-items: baseline;
}


.inter-text {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                    "slnt" 0;
            font-size: 24px
        }

.nav-options, .sitemap__title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 18px
}

.trial-free, .button, .offer__list {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 18px
}

.profession, .offer__description, .learn__counter-descript, .learn__counter-detailed__descript, .sitemap__list a, .copyright{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 18px;
}

.offer__title, .offer_sale, .learn__counter-number, .learn__counter-number {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 58px
}

.card-title, .price-title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 34px
}

.total_amount, .choose {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 24px
}

.update {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 18px;
}

.first{
    margin-right: 280px;
}

.support {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 24px;
    text-decoration: none;
    color: #FBFBFC;

}
.sitemap__title{
    color: #FBFBFC;
    margin-top: 68px;
    text-decoration: none;
    /*margin-bottom: 28px;*/
    align-items: flex-start;

}
.group__courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.main__logo{
    /*margin-left: 240px;*/
    /*margin-right: 12px;*/
    margin-top: 59px;
}
span{
    display: flex;
}

.phone{
    margin-top: 28px;
    margin-bottom: 312px;
    /*margin-left: 310px;*/
}

.e-mail{
    margin-top: 48px;
    /*margin-left: 350px;*/
}
.link{
    text-decoration: none;
    color: #EFEFF2;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 18px;
    margin-top: 28px;
}

.copyright{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    background: #19191C;
}

.privacy{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #19191C;
    margin-left: 200px;
}

.link__bottom{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    font-size: 18px;
    text-decoration: none;
    color: #FBFBFC;
}